<%-include("../../views/partials/admin/header")%>
            <!-- Book Management Section -->
            <section class="content">
                <h2>Offer Management</h2>


<form class="user-search-form" action="/admin/offers" method="GET">
    <input type="text" name="search" placeholder="Search offers" value="<%= search %>">
    <button type="submit">Search</button>
    <% if (search) { %>
        <a href="/admin/offers"><button type="button">Reset</button></a>

    <% } %>
</form>

<table class="book-table">
    <thead>
        <tr>
            <th>Offer Name</th>
            <th>Category</th>
            <th>Books</th>
            <th>Min Amount</th>
            <th>Discount</th>
            <th>Start Date</th>
            <th>Expire Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% offers.forEach(offer => { %>
            <tr>
                <td><%= offer.name %></td>
                <td><%= offer.category_id ? offer.category_id.name : "N/A" %></td>
                <td>
                    <% offer.book_ids.forEach(book => { %>
                        <span><%= book.title %></span>
                    <% }) %>
                </td>
                <td><%= offer. min_purchase_amount %></td>
                <td><%= offer.discount_type %> - <%= offer.discount_value %></td>
                <td><%= offer.start_date.toDateString() %></td>
                <td><%= offer.expire_date.toDateString() %></td>
                <td>
                    <a href="/admin/offers/edit/<%= offer._id %>">Edit</a>
                    <form action="/admin/offers/delete/<%= offer._id %>" method="POST" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<!-- Pagination -->
<div class="pagination-container">
<% if (totalPages > 1) { %>
    <nav>
        <% for(let i = 1; i <= totalPages; i++) { %>
            <a href="/admin/offers?page=<%= i %>&search=<%= search %>"><%= i %></a>
        <% } %>
    </nav>
<% } %></div>
